.i2g-ngdialog {
  display        : flex;
  align-items    : center;
  justify-content: center;

  .ngdialog-content {
    position           : relative;
    min-width          : 400px;
    max-height         : 60vh;
    height             : 100%;
    overflow           : hidden;
    padding            : 20px;
    border-radius      : 10px;
    animation          : zoom-dialog 0.5s;
    animation-fill-mode: both;
  }

  .ngdialog-overlay {
    background: rgba(32, 33, 36, 0.83);
  }
}

.i2g-dialog {
  background-color   : var(--toolbar-bg-color);
  width              : 300px;
  padding            : 20px;
  border-radius      : 10px;
  border             : 1px solid var(--body-bg-color);
  animation          : zoom-dialog 0.5s;
  animation-fill-mode: both;
}

.dialog-overlay {
  width          : 100vw;
  height         : 100vh;
  min-width      : 100vw;
  min-height     : 100vh;
  position       : relative;
  display        : flex;
  align-items    : center;
  justify-content: center;
  position       : fixed;
  top            : 0;
  left           : 0;
  z-index        : 10000;
  background     : rgba(32, 33, 36, 0.83);
}